{
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 80,
  "overrides": [
    {
      "files": "*.ino",
      "options": {
        "parser": "babel"
      }
    },
    {
      "files": ["*.cpp", "*.h"],
      "options": {
        "parser": "cpp"
      }
    },
    {
      "files": "Makefile",
      "options": {
        "useTabs": true,
        "tabWidth": 4
      }
    }
  ]
}
